[profile.default]
solc = "0.8.28"
optimizer = true
optimizer_runs = 200
evm_version = "paris"
src = "contracts"
out = "foundry-artifacts"
cache_path = "cache/foundry"
test = "test/foundry"

libs = ["node_modules", "./src/contracts/"]
allow_paths = ["node_modules", "./src/contracts/"]

#[fuzz]
#runs = 1000
#depth = 500

remappings = [
    "@chainlink/=node_modules/@chainlink/",
    "forge-std/=node_modules/forge-std/",
	"@murky/=node_modules/@murky/merkle/src/"
]
