[profile.default]
solc = "0.8.28"
optimizer = true
optimizer_runs = 200
evm_version = "cancun"
src = "contracts"
out = "foundry-artifacts"
cache_path = "cache/foundry"
test = "test/foundry"

libs = ["node_modules", "./src/contracts/"]
allow_paths = ["node_modules", "./src/contracts/"]

[fuzz]
runs = 10000
depth = 5000

remappings = [
    "@chainlink/=node_modules/@chainlink/",
    "forge-std/=node_modules/forge-std/"
]
